<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX</title>
    <link rel="stylesheet" href="../global.css">
</head>
<body>
    <header>
        <div class="container dragon1">
            <nav>
                <!-- <div id="nav-logo"><img src="./photos/sxlogo1.jpeg" alt="spacex" srcset=""></div> -->
                <div id="nav-logo"><a href="../index.html"><img src="../photos/spacex-logo.svg" alt=""></a></div>
                <div id="nav-mid">
                    <ul id="list-mid">
                        
                        <li><a href="../components/falcon.html">FALCON 9</a></li>
                        <li><a href="../components/falcon_heavy.html">FALCON HEAVY</a></li>
                        <li><a href="../components/dragon.html">DRAGON</a></li>
                        <li><a href="../components/startship.html">STARSHIP</a></li>
                        <li><a href="../components/space_light.html">HUMAN SPACELIGHT</a></li>
                        <li><a href="https://www.starlink.com/" target="_blank">STARTLINK</a></li>
                    </ul>
                </div>
                <div id="nav-last">
                    <ul>
                        <li>SHOP</li>
                        <li>ham</li>
                    </ul>
                </div>
    
            </nav>
            <div class="content-mid">
                <h1>DRAGON</h1>
                <p>SENDING HUMANS AND CARGO INTO SPACE</p>
                
            </div>
        </div>
    </header>
    <section>
        <div class="container dragon2">
        <div class="container-left">
            <div class="content-left">
                <p>DRAGON</p>
                <h1>OVERVIEW</h1>
            </div>
            <div class="content-box">
                <table>
                    <tr>
                        <td>HEIGHT</td>
                        <td>8.1m <span>/ 26.7ft</span></td>
                    </tr>
                    <tr>
                        <td>DIAMETER</td>
                        <td>4m <span>/ 13ft</span></td>
                    </tr>
                    <tr>
                        <td>CAPSULE VOLUME</td>
                        <td>9.3m<sup>3</sup> <span>/ 328 ft<sup>3</sup></span></td>
                    </tr>
                    <tr>
                        <td>TRUNK VOLUME</td>
                        <td>37 m³  <span>/ 1300 ft³</span></td>
                    </tr>
                    <tr>
                        <td>LAUNCH PAYLOAD MASS</td>
                        <td>6,000 kg  <span>/ 13,228 lbs</span></td>
                    </tr>
                    <tr>
                        <td>RETURN PAYLOAD MASS</td>
                        <td>3,000 kg <span>/ 6,614 lbs</span></td>
                    </tr> 
                </table>
            </div>
        </div>
        
        </div>
    </section>
    <section>
        <div class="container dragon3">
            <div class="content1">
                <h1>CREW DRADON INTERIOR</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="container dragon4">
            <div class="content-right">
                <h1>TAKING HUMANS TO SPACE</h1>
                <p>In 2020, SpaceX returned America’s ability to fly NASA astronauts to and from the International 
                    Space Station on American vehicles for the first time since 2011. In addition to flying astronauts to space for NASA, SpaceX’s 
                    Dragon spacecraft can also carry commercial astronauts to Earth orbit, the ISS or beyond
                </p>
            </div>
            
            
        </div>
    </section>
    <section>
        <div class="container dragon5">
            <div class="container-left">
                <div class="content-left">
                    <p>ENGINES</p>
                    <h1>DRAGON</h1>
                </div>
                <div class="content-box">
                    <p id="para-head">DRACO <span>| SUPERDRACO</span></p>
                    <p id="para-box">Merlin is a family of rocket engines developed by SpaceX for use on its Falcon 1, Falcon 9 
                        and Falcon Heavy launch vehicles. Merlin engines use a rocket grade kerosene (RP-1) 
                        and liquid oxygen as rocket propellants in a gas-generator power cycle. The Merlin engine was originally designed 
                        for recovery and reuse.</p>
                    <table>
                        <tr>
                            <td>NUMBER OF ENGINES</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>THRUST IN VACUUM</td>
                            <td>400 N <span>/ 90 lbf</span></td>
                        </tr> 
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container dragon6">
            <div id="dra_para_desc">
                <h1>DRAGON PARACHUTE SYSTEME</h1>
                <p>The Dragon spacecraft is equipped with two drogue parachutes to stabilize the spacecraft following
                     reentry and four main parachutes to further decelerate the spacecraft prior to landing.
                </p>
                <button class="btn btn-primary">LEARN MORE</button>
            </div>
            <div id="dra_paract"></div>
            
        </div>
    </section>
    <section>
        <div class="container dragon7">
            
            
        </div>
    </section>
    <footer>
        <div class="foot-items">
            <p>SPACEX © 2023</p>
            <p><a href="">PRIVACY POLICY</a></p>
            <p><a href="">SUPPLIERS</a></p>
        </div>
    </footer>
    
</body>
</html>