<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../global.css">
</head>
<body>
    <header>
        <div class="container f_heavy1">
            <nav>
                <!-- <div id="nav-logo"><img src="./photos/sxlogo1.jpeg" alt="spacex" srcset=""></div> -->
                <div id="nav-logo"><a href="../index.html"><img src="../photos/spacex-logo.svg" alt=""></a></div>
                <div id="nav-mid">
                    <ul id="list-mid">
                        
                        <li><a href="../components/falcon.html">FALCON 9</a></li>
                        <li><a href="../components/falcon_heavy.html">FALCON HEAVY</a></li>
                        <li><a href="../components/dragon.html">DRAGON</a></li>
                        <li><a href="../components/startship.html">STARSHIP</a></li>
                        <li><a href="../components/space_light.html">HUMAN SPACELIGHT</a></li>
                        <li><a href="https://www.starlink.com/" target="_blank">STARTLINK</a></li>
                    </ul>
                </div>
                <div id="nav-last">
                    <ul>
                        <li>SHOP</li>
                        <li>ham</li>
                    </ul>
                </div>
    
            </nav>
            <div class="content-mid">
                <h1>FALCON HEAVY</h1>
                <p>OVER 5 MILLION LBS OF THRUST</p>
                
            </div>
        </div>
    </header>
    <section>
        <div class="container f_heavy2">
        <div class="container-left">
            <div class="content-left">
                <p>FALCON HEAVY</p>
                <h1>OVERVIEW</h1>
            </div>
            <div class="content-box">
                <table>
                    <tr>
                        <td>HEIGHT</td>
                        <td>70m <span>/ 229.6ft</span></td>
                    </tr>
                    <tr>
                        <td>WIDTH</td>
                        <td>12.2m <span>/ 39.9ft</span></td>
                    </tr>
                    <tr>
                        <td>MASS</td>
                        <td>1,420,788 kg <span>/ 3,125,735 lb</span></td>
                    </tr>
                    <tr>
                        <td>PAYLOAD TO LEO</td>
                        <td>63,800 kg  <span>/ 50,265 lb</span></td>
                    </tr>
                    <tr>
                        <td>PAYLOAD TO GTO</td>
                        <td>26,700 kg  <span>/ 58,860 lb</span></td>
                    </tr>
                    <tr>
                        <td>PAYLOAD TO MARS</td>
                        <td>16,800 kg <span>/ 37,040 lb</span></td>
                    </tr> 
                </table>
            </div>
        </div>
        
        </div>
    </section>
    <section>
        <div class="container f_heavy3">
            <div class="content1">
                <h1>FALCON HEAVY FIRST FLIGHT</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="container f_heavy4">
            <div id="FH_lounch"></div>
            <div id="FH_lounch_desc">
                <h1>UNMATCHED PERFORMANCE</h1>
                <p>With more than 5 million pounds of thrust at liftoff, Falcon Heavy is one of the most capablerockets flying.By comparison, the liftoff thrust
                    of the Falcon Heavy equals approximately eighteen 747 aircraft at full power.
                    Falcon Heavy can lift the equivalent of a fully loaded 737 jetliner—complete with passengers, luggage and fuel—to orbit.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container f_heavy5">
            <div class="container-left">
                <div class="content-left">
                    <p>ENGINES</p>
                    <h1>MERLIN</h1>
                </div>
                <div class="content-box">
                    <p id="para-head">SEA LEVEL <span>| VACUMM</span></p>
                    <p id="para-box">Merlin is a family of rocket engines developed by SpaceX for use on its Falcon 1, Falcon 9 
                        and Falcon Heavy launch vehicles. Merlin engines use a rocket grade kerosene (RP-1) 
                        and liquid oxygen as rocket propellants in a gas-generator power cycle. The Merlin engine was originally designed 
                        for recovery and reuse.</p>
                    <table>
                        <tr>
                            <td>PROPELLANT</td>
                            <td>LOX <span>/ RP-1</span></td>
                        </tr>
                        <tr>
                            <td>THRUST</td>
                            <td>845 kN <span>/ 190,000 lbf</span></td>
                        </tr> 
                    </table>
                </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="container f_heavy6">
        </div>
    </section>
    <footer>
        <div class="foot-items">
            <p>SPACEX © 2023</p>
            <p><a href="">PRIVACY POLICY</a></p>
            <p><a href="">SUPPLIERS</a></p>
        </div>
    </footer>
    
</body>
</html>