<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../global.css">
</head>
<body>
    <header>
        <div class="container startship1">
            <nav>
                <!-- <div id="nav-logo"><img src="./photos/sxlogo1.jpeg" alt="spacex" srcset=""></div> -->
                <div id="nav-logo"><a href="../index.html"><img src="../photos/spacex-logo.svg" alt=""></a></div>
                <div id="nav-mid">
                    <ul id="list-mid">
                        
                        <li><a href="../components/falcon.html">FALCON 9</a></li>
                        <li><a href="../components/falcon_heavy.html">FALCON HEAVY</a></li>
                        <li><a href="../components/dragon.html">DRAGON</a></li>
                        <li><a href="../components/startship.html">STARSHIP</a></li>
                        <li><a href="../components/space_light.html">HUMAN SPACELIGHT</a></li>
                        <li><a href="https://www.starlink.com/" target="_blank">STARTLINK</a></li>
                    </ul>
                </div>
                <div id="nav-last">
                    <ul>
                        <li>SHOP</li>
                        <li>ham</li>
                    </ul>
                </div>
    
            </nav>
            <div class="content-mid">
                <h1>STARSHIP</h1>
                <p>SERVICE TO EARTH ORBIT, MOON, MARS AND BEYOND</p>
                
            </div>
        </div>
    </header>
    <section>
        <div class="container startship2">
        <div class="container-left">
            <div class="content-left">
                <h1 style="padding-left: 20px;">STARSHIP OVERVIEW</h1>
                <div class="content-box">
                    <p id="para-box">STARSHIP OVERVIEW
                        SpaceX’s Starship spacecraft and Super Heavy rocket – collectively referred to as Starship
                        – represent a fully reusable transportation system designed to carry both crew and cargo to 
                        Earth orbit, the Moon, Mars and beyond. Starship is the world’s most powerful launch vehicle ever developed,
                        capable of carrying up to 150 metric tonnes fully reusable and 250 metric tonnes expendable.</p>
                    <table>
                        <tr>
                            <td>HEIGHT</td>
                            <td>120 m <span>/ 394ft </span></td>
                        </tr>
                        <tr>
                            <td>DIAMETER</td>
                            <td>9 m<span>/ 29.5 ft</span></td>
                        </tr> 
                        <tr>
                            <td>PAYLOAD CAPACITY</td>
                            <td>100 - 150 <span>(fuly reusable)</span></td>
                        </tr> 
                    </table>
                </div>
        </div>
        
        </div>
    </section>
    <section>
        <div class="container startship3">
            <div id="dra_para_desc" class="add_pad">
                <h1>STARSHIP CAPABILITIES</h1>
                <p>As the powerful lounch system ever developed, Starship able to carry up to 100 people for long duration,
                    Interplanetary flights. Starship also enable satellite delivery,the development of new moon base,
                    and point to point transport here on Earth.
                </p>
        </div>
    </section>
    <section>
        <div class="container startship4">
                    <div id="dra_para_desc" class="add_pad">
                        <h1>ON-ORBIT REFILLING</h1>
                        <p>Starship leverages tanker vehicles (essentially the Starship spacecraft minus the windows)
                            to refill the Starship spacecraft in low-Earth orbit prior to departing for Mars. Refilling
                            on-orbit enables the transport of up to 100 tons all the way to Mars. And if the tanker
                            ship has high reuse capability, the primary cost is just that of the oxygen and methane, which is extremely low.
                        </p>
                </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="container startship5">
            <div class="content1">
                <h1>STARBASE</h1>
                <p style="font-size: 15px;">STARBASE
                    Development and manufacturing of Starship takes place at Starbase, one of the world’s 
                    first commercial spaceports designed for orbital missions
                </p>
                <button class="btn btn-primary" style="margin-left: 8px;">LEARN MORE</button>
            </div>
        </div>
    </section>
    <footer>
        <div class="foot-items">
            <p>SPACEX © 2023</p>
            <p><a href="">PRIVACY POLICY</a></p>
            <p><a href="">SUPPLIERS</a></p>
        </div>
    </footer>
    
</body>
</html>