<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../global.css">
</head>
<body>
    <header>
        <div class="container falcon1">
            <nav>
                <!-- <div id="nav-logo"><img src="./photos/sxlogo1.jpeg" alt="spacex" srcset=""></div> -->
                <div id="nav-logo"><a href="../index.html"><img src="../photos/spacex-logo.svg" alt=""></a></div>
                <div id="nav-mid">
                    <ul id="list-mid">
                        
                        <li><a href="../components/falcon.html">FALCON 9</a></li>
                        <li><a href="../components/falcon_heavy.html">FALCON HEAVY</a></li>
                        <li><a href="../components/dragon.html">DRAGON</a></li>
                        <li><a href="../components/startship.html">STARSHIP</a></li>
                        <li><a href="../components/space_light.html">HUMAN SPACELIGHT</a></li>
                        <li><a href="https://www.starlink.com/" target="_blank">STARTLINK</a></li>
                    </ul>
                </div>
                <div id="nav-last">
                    <ul>
                        <li>SHOP</li>
                        <li>ham</li>
                    </ul>
                </div>
    
            </nav>
            <div class="content-mid">
                <h1>FALCON 9</h1>
                <p>FIRST ORBITAL CLASS ROCKET CAPABLE OF REFLIGHT</p>
                
            </div>
        </div>
    </header>
    <section>
        <div class="container falcon2">
        <div class="container-left">
            <div class="content-left">
                <p>FALCON 9</p>
                <h1>OVERVIEW</h1>
            </div>
            <div class="content-box">
                <table>
                    <tr>
                        <td>HEIGHT</td>
                        <td>70m <span>/ 229.6ft</span></td>
                    </tr>
                    <tr>
                        <td>DIAMETER</td>
                        <td>3.7m <span>/ 12ft</span></td>
                    </tr>
                    <tr>
                        <td>MASS</td>
                        <td>549,054 kg <span>/ 1,207,920lb</span></td>
                    </tr>
                    <tr>
                        <td>PAYLOAD TO LEO</td>
                        <td>22,800 kg  <span>/ 50,265 lb</span></td>
                    </tr>
                    <tr>
                        <td>PAYLOAD TO GTO</td>
                        <td>8,300 kg  <span>/ 18,300 lb</span></td>
                    </tr>
                    <tr>
                        <td>PAYLOAD TO MARS</td>
                        <td>4,020 kg <span>/ 8,860 lb</span></td>
                    </tr> 
                </table>
            </div>
        </div>
        
        </div>
    </section>
    <section>
        <div class="container falcon3">
            <div class="content1">
                <p>FALCON 9</p>
                <h1>IN FLIGHT</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="container falcon4">
            <div class="container-left">
                <div class="content-left">
                    <p>ENGINES</p>
                    <h1>MERLIN</h1>
                </div>
                <div class="content-box">
                    <p id="para-head">SEA LEVEL <span>| VACUMM</span></p>
                    <p id="para-box">Merlin is a family of rocket engines developed by SpaceX for use on its Falcon 1, Falcon 9 
                        and Falcon Heavy launch vehicles. Merlin engines use a rocket grade kerosene (RP-1) 
                        and liquid oxygen as rocket propellants in a gas-generator power cycle. The Merlin engine was originally designed 
                        for recovery and reuse.</p>
                    <table>
                        <tr>
                            <td>PROPELLANT</td>
                            <td>LOX <span>/ RP-1</span></td>
                        </tr>
                        <tr>
                            <td>THRUST</td>
                            <td>845 kN <span>/ 190,000 lbf</span></td>
                        </tr> 
                    </table>
                </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="container falcon5">
        </div>
    </section>
    <footer>
        <div class="foot-items">
            <p>SPACEX © 2023</p>
            <p><a href="">PRIVACY POLICY</a></p>
            <p><a href="">SUPPLIERS</a></p>
        </div>
    </footer>
    
</body>
</html>